body{
    background:rgb(38, 39, 40)
}

h1,h3{
    color:cadetblue;
    font-family: cursive;
}

p{
    color:antiquewhite;
    font-family: cursive;
    font-size: 0.9rem;
}

ol,ul{
    color:rgb(230, 206, 175);
    font-family: cursive;
    font-size: 0.9rem;
}

a:link{
    color:brown
}

b{
    color:yellow;
}