body{
    background-color: rgb(255, 169, 8);
    margin :0;
}
.head{
    color:white;
    font-family: cursive;
}
.post{
    background-color: rgb(68, 200, 32);
    margin-left:270px;
    margin-right:250px;
    position:absolute;
    margin-left:250px;
    height:460px;
    padding:25px;
    font-family:cursive;
}
h2{
    color:white;
}

h3{
    color:brown;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    width:100px;
    border-radius: 15px 50px 30px 5px;
}

.search{
    background-color: rgb(93, 91, 91);
    width: 250px;
    height:500px;
    position:absolute;
    padding:5px;
}

a{
    color:white;
}

.Left{
    background-color: rgb(93, 91, 91);
    position:absolute;
    right:0px;
    height:500px;
    width:250px;
    color:white;
    padding: 5px;
}
.Left img{
    margin-right: 10px;
}
.copy{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 500px;
}